.text {
    font-family:"Open Sans", "Aria", sans-serif ;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    font-weight: 700px;
    
}

.text2{
    text-decoration: line-through;
}

.text3{
    text-transform: uppercase;
    text-align: center;
}

.text4{
    text-decoration: wavy;
    word-spacing: 30px;
    text-decoration: overline wavy;
    text-shadow: 2px 3px 2px #ac19b9;
}

.text5{
    letter-spacing: 5px;
    text-decoration:underline double  ;
}