.text0{
    background: rgb(168, 131, 202);
    height: 500px;
    overflow-y: scroll;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #28182b ;
}

.text1{
    display: inline-block;
    background: rgb(226, 198, 226);
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10%;
    -webkit-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
-moz-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
}

.text2{
    display: inline-block;
    background: rgb(226, 198, 226);
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10%;
    -webkit-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
-moz-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
}

.text3{
    display: inline-block;
    background: rgb(226, 198, 226);
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10%;
    -webkit-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
-moz-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
}

.text4{
    display: inline-block;
    background: rgb(226, 198, 226);
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10%;
    -webkit-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
-moz-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
}

.text5{
    display: inline-block;
    background: rgb(226, 198, 226);
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10%;
    -webkit-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
-moz-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
}

.text6{
    display: inline-block;
    background: rgb(226, 198, 226);
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10%;
    -webkit-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
-moz-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
}

.text7{
    display: inline-block;
    background: rgb(226, 198, 226);
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10%;
    -webkit-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
-moz-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
}

.text8{
    display: inline-block;
    background: rgb(226, 198, 226);
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10%;
    -webkit-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
-moz-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
}

.text9{
    display: inline-block;
    background: rgb(226, 198, 226);
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10%;
    -webkit-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
-moz-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
}

.text10{
    display: inline-block;
    background: rgb(226, 198, 226);
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10%;
    -webkit-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
-moz-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
}

.text11{
    display: inline-block;
    background: rgb(226, 198, 226);
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10%;
    -webkit-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
-moz-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
}

.text12{
    display: inline-block;
    background: rgb(226, 198, 226);
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10%;
    -webkit-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
-moz-box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
box-shadow: -2px -9px 23px 26px rgba(68, 52, 73, 0.2) inset;
}


